.container {
  width: 100%;
  height: 100vh;
}
.forgotPassword_container {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.forgotPassword-Form {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  height: 100vh;
  width: 70%;
}

.forgotPassword-images {
  width: 30%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: url(/public/images/login_image.5f474fe8.png) 50% center / contain
    no-repeat;
}

#form-forgotPassword {
  background-color: #fff;
  outline: none;
  padding: 50px 50px 25px;
  width: 420px;
  border-radius: 14px;
}

.forgotPassword-title {
  padding-bottom: 20px;
}

.forgotPassword-title h3 {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.35;
}

.forgotPassword-email {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.forgotPassword-username {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.forgotPassword-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  line-height: 40px;
  padding: 0 16px;
  outline: none;
  border: 1px solid #d9d9d9;
}

.forgotPassword-Form button {
  cursor: pointer;
  width: 100%;
  line-height: 40px;
  border-radius: 8px;
  border: none;
  background-color: rgb(187, 35, 39);
  color: #fff;
  font-size: 14px;
  margin-bottom: 24px;
}

.back-login {
  display: flex;
  align-items: center;
  gap: 10px;
}
.back-login a {
  display: flex;
  justify-content: start;
}

.back-login span {
  color: rgb(187, 35, 39);
}

.back-login i {
  color: rgb(187, 35, 39);
}

.err-msg {
  padding: 5px 5px;
  color: red;
}
