.footer {
  width: 100%;
  background-color: #181821;
  color: #a9b3bb;
  overflow-x: hidden;
  padding: 58px 0 10px;
  margin-top: 35px;
}

.footer-section {
  width: 80%;
  margin: 0 auto;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.title-footer h3 {
  line-height: 20px;
  font-size: 18px;
  color: #fff;
}

.footer-tops-1 .img-footer img {
  width: 120px;
}

.footer-row-1 {
  display: flex;
  gap: 5px;
}

.footer-row-1 .title-footer {
  margin-bottom: 10px;
}

.footer-row-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-row-2 .item .item-1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item .item-1 p {
  font-size: 14px;
}

.item .item-2 p {
  font-size: 14px;
}

.item .item-3 p {
  font-size: 14px;
}
.footer-row-2 .item .item-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-row-2 .item .item-3 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-tops-2 {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-tops-2 .footer-title-2 h3 {
  color: #fff;
}

.footer-tops-3 {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-tops-3 .footer-title-3 h3 {
  color: #fff;
}

.footer-tops-4 {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-tops-4 .footer-title-4 h3 {
  color: #fff;
}

.footer-content-4 li {
  font-size: 14px;
}

.footer-content-4 li:last-child {
  font-style: italic;
  font-weight: bold;
  margin-top: 10px;
}

ul li {
  font-size: 14px;
  list-style-type: none;
  margin-bottom: 10px;
}

.footer-bot {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.footer-bot-left span{
  font-size: 14px;
}

.footer-bot-right {
  display: flex;
  gap: 10px;
}
.footer-bot-img img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
